@import "../lazy-asset";

html, body {
    -webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	// padding-bottom: 100px;
}


.modes {

	.image-cover {
		width: 50vw;
		height: 50vh;
		margin-bottom: 50px;

		@media screen and (min-width: 1600px) {
			width: 100vw;
		}
	}

	.image-cover-parts {
		margin-bottom: 50px;
		width: 75vw;
		height: 75vh;
	}

	.image-aspect-ratio {
		margin-bottom: 50px;
		width: 50vw;
	}

	.image-contain {
		width: 50vw;
		height: 50vw;
		background-color: black;
		margin-bottom: 50px;
	}
}

.deferred-loads {
	width: 100%;

	// display: flex;
	// flex-direction: row;

	.item {
		margin: 20px;
		width: 400px;
	}
}



.test-svg {

	width: 50vw;
	height: 50vw;
	background-color: black;
	position: relative;

	svg {
		background-color: red;
		width: 100%;
		height: 100%;
		max-width: 100%;
		min-width: 100%;

		object-fit: contain;
	}

}


// .test {
// 	position: relative;
// 	width: 50%;
// 	height: 50vh;

// 	picture {
// 		position: absolute;
// 		top: 0; right: 0; bottom: 0; left: 0;

// 		img {
// 			position: absolute;
// 			top: 0; left: 0; width: 100%; height: 100%;

// 			object-fit: cover;
// 			object-position: 50% 50%;
// 			overflow: hidden;
// 		}
// 	}
// }

// .photo-cover {
// 	width: 800px;
// 	height: 600px;
// }

// .photo-aspect-ratio {
// 	margin-top: 50px;
// 	width: 400px;
// }

// .photo-contain {
// 	margin-top: 50px;
// 	width: 600px;
// 	height: 600px;
// 	background-color: black;
// }

// .video {
// 	margin-top: 50px;
// 	width: 800px;
// 	height: 600px;
// 	overflow: hidden;
// }
